.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/**/*.mobileprovision
ios/**/*.p12
ios/**/*.cer
*.iml
.DS_Store
.idea/
.vscode/
.env
.env.*
__pycache__/
*.pyc
